.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 10px red;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  border: 10px red;
}

header {
  padding: 50 50 50 50;
}
